14/oleksandr_chyzh/GameStore.WebUI/Service References/PaymentService/PaymentService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55332/PaymentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GameStore.Infrastructure.PaymentService.Models" />
  <xs:element name="PayUsingVisa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cvvCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expirationMonth" type="xs:int" />
        <xs:element minOccurs="0" name="expirationYear" type="xs:int" />
        <xs:element minOccurs="0" name="purpose" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amountOfPayment" type="xs:decimal" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayUsingVisaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GameStore.Infrastructure.PaymentService.Models" minOccurs="0" name="PayUsingVisaResult" type="q1:PaymentStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayUsingMasterCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cvvCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expirationMonth" type="xs:int" />
        <xs:element minOccurs="0" name="expirationYear" type="xs:int" />
        <xs:element minOccurs="0" name="purpose" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amountOfPayment" type="xs:decimal" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayUsingMasterCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GameStore.Infrastructure.PaymentService.Models" minOccurs="0" name="PayUsingMasterCardResult" type="q2:PaymentStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsUserExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>